<%= boilerplate %>
require 'ostruct'

module <%= name.capitalize %>
  class Command
    attr_accessor :args, :options

    def initialize(args, options, command_name = nil)
      @args = args.freeze
      @options = OpenStruct.new(options.__hash__)
    end

    # this wrapper is here to later enable error handling &/ logging
    def run!
      run
    end

    def run
      raise NotImplementedError
    end
  end
end
